section.main__section.about
  h3.heading.heading_1
    | Hi there! I'm Olha, an programmer in web and mobile application development.
  p I am a front-end developer with experience working in an international company on various commercial projects. My experience includes develop and maintain front-end applications using JavaScript and React, creating and optimizing user interfaces, providing responsive design, implementing user authentication and authorization. As a full stack developer I work with server technologies such as Node.js and MongoDB. I implement projects from concept to implementation using modern designs and technologies. I am passionate about constantly learning and applying new technologies to solve real-world problems efficiently and effectively.
  p Technology Stack: HTML, CSS, JavaScript, React, Next.js, Redux, Typescript, NodeJs, MongoDb, Mui, WIX
  a(href='./public/resume.pdf' target='_blank').button Get my resume