header.hero
  a.hero__avatar(href="#")
    img(src='images/my_photo.png')
  h1.heading.heading_2.hero__info
    strong Software Engineer (Frontend and Backend Developer)
  h3.text I specialize in web interface development, with a focus on responsive design and progressive web applications, creating user interfaces using JavaScript, TypeScript, React, Node.js, Next.js, HTML and CSS. Experience in enhancing security through authentication, authorization, data protection and secure client-server communications.
  