footer.mainFooter
  .socialLinks
    a.socialLinks__item(href="https://github.com/hotolla/crypto")
      i.fa.fa-github
    a.socialLinks__item(href="https://www.linkedin.com/in/olha-koltsova-8b8727202/")
      i.fa.fa-linkedin
    a.socialLinks__item(href="https://www.instagram.com/ollakoltsova?igsh=MXRrdzN1ZHRycWkyZQ%3D%3D&utm_source=qr")
      i.fa.fa-instagram
